SUBSYSTEM=="input", ATTRS{name}=="Logitech Gamepad F710", SYMLINK+="input/js-f710"
SUBSYSTEM=="input", ATTRS{name}=="Logitech Cordless RumblePad 2", SYMLINK+="input/js-f710"