<?xml version="1.0"?>
<launch>

    <arg name="robot" default="ash"/>
    <arg name="pkg_config" default="$(find unico_bringup)"/>


    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard">
      <param name="key_timeout" value="0.6"/>
      <param name="repeart_rate" value="10.0"/>
      <remap from="/cmd_vel" to="/base/base_controller/twist_mux/command_teleop_keyboard"/>
    </node>

</launch>
