<?xml version="1.0"?>
<launch>

  <arg name="robot" value="$(optenv ROBOT NO_ROBOT_SET!)"/>
  <arg name="robot_env" value="$(optenv ROBOT_ENV NO_ROBOT_ENV_SET!!)"/>
  <arg name="pkg_config" value="$(find cmeresearch_bringup)"/>

  <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen" respawn="false" >
    <param name="port"         type="string" value="/dev/ydlidar"/>
    <param name="frame_id"     type="string" value="base_laser_link"/>
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="auto_reconnect"    type="bool"   value="true"/>
    <param name="reversion"    type="bool"   value="false"/>
    <param name="sun_noise"    type="bool"   value="true"/>
    <param name="glass_noise"    type="bool"   value="true"/>
    <param name="angle_min"    type="double" value="-179" />
    <param name="angle_max"    type="double" value="179" />
    <param name="range_min"    type="double" value="0.1" />
    <param name="range_max"    type="double" value="12.0" />
    <param name="ignore_array" type="string" value="" />
    <param name="max_abnormal_check_count"    type="int" value="2"/>
  </node>

  <arg name="agv_start_pose" value="[0.0, 0.0, 0.0]"/>
  <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find cmeresearch_bringup)/config/$(arg robot)/slam_localization_only.yaml" />
    <remap from="odometry" to="/ash_velocity_controller/odom"/>
    <param name="map_file_name" value="/home/ubuntu/data/slam/map"/>
    <rosparam param="map_start_pose" subst_value="True">$(arg agv_start_pose)</rosparam>
    <param name="map_start_at_dock" value="true"/>
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find cmeresearch_bringup)/config/$(arg robot)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find cmeresearch_bringup)/config/$(arg robot)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find cmeresearch_bringup)/config/$(arg robot)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find cmeresearch_bringup)/config/$(arg robot)/global_costmap_params.yaml" command="load" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
    <rosparam file="$(find cmeresearch_bringup)/config/$(arg robot)/base_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="/base_controller/twist_mux/command_navigation"/>
  </node>

</launch>
